/* Quicksand google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
}
.large-text {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}

.search-btn {
  background-color: #fe8c45;
  color: white;
}
.word-color {
  color: #8a47f6;
}
.skilled-color {
  background-color: #f3edfe;
  height: 740px;
}
/* Gallery */

#first {
  display: flex;
margin-top: 100px;

& .portfolio{
  margin-top: 30px;
  background-color: #8a47f6;
}

 & ul{
  background-color: #8a47f6;
 }

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */



  & .part-1 {
    & img {
      width: 316px;
      height: 534px;
      margin-right: 8px;
    }
    & .part-2 {
      & .section-1 {
        & .img-1 {
          width: 255px;
          height: 560px;
        }
        & .img-2 {
          width: 326px;
          height: 255px;
        }
      }
      & .section-2 {
        & .img-4 {
          width: 255px;
          height: 560px;
        }
        & .img-3 {
          width: 326px;
          height: 255px;
        }
      }
    }
  }
}
.featured{
margin-top: 100px;
}

@media screen and(max-width:576px) {
  .skilled {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .skilled-color {
    background-color: #f3edfe;
    height: 340px;
  }
}
